# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual Environment
/venv/
/myenv/

# pytest files
.pytest_cache/

# Log files
*.log
    
    
# Log files
*.log
*.log*

#env file
.env

# Environments
.venv
env/
ENV/
*env/
.devcontainer/
